<%- model_class = Vacancy -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @vacancy.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_create) %>:</strong></dt>
  <dd><%= @vacancy.date_create %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_end) %>:</strong></dt>
  <dd><%= @vacancy.date_end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:duration) %>:</strong></dt>
  <dd><%= @vacancy.duration %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salary) %>:</strong></dt>
  <dd><%= @vacancy.salary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contacts) %>:</strong></dt>
  <dd><%= @vacancy.contacts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:abilities) %>:</strong></dt>
  <dd><%= @vacancy.abilities.collect{|a| a.name}.join(', ') %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vacancies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vacancy_path(@vacancy), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vacancy_path(@vacancy),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<h2>Suitable workers</h2>

<% if @vacancy.workers %>
<%
  @workers_fully = []
  @workers_other = []
  @vacancy.workers.each do |worker|
    if @vacancy.abilities_count > worker.worker_abilities_count.to_i
      @workers_other << worker
    else
      @workers_fully << worker
    end
  end
%>
<table width="400">
<tr>
  <th>Fully suitable</b>
  <th>Partially suitable</b>
</tr>
<tr>
  <td>
    <ul>
    <% @workers_fully.each do |worker| %>
      <li><%= link_to worker.name, worker %></li>
    <% end %>
    </ul>
  </td>
  <td>
    <ul>
    <% @workers_other.each do |worker| %>
      <li><%= link_to worker.name, worker %> (<%= worker.worker_abilities_count %> of <%= @vacancy.abilities_count %>)</li>
    <% end %>
    </ul>
  </td>
</tr>
</table>
<% else %>
  <p>Empty</p>
<% end %>
